torch>=2.1
torchvision
timm>=1.0.0

numpy
scipy
pandas
scikit-learn

albumentations
opencv-python-headless

rasterio
geopandas
shapely
pyproj

omegaconf
hydra-core
pyyaml

tqdm
matplotlib
transformers
wandb
safetensors
termcolor
segmentation-models-pytorch
pyarrow